<div class="row">
    <div class="col-md-1">
        {{player.name}}
    </div>
    <div class="col-md-1">
        {{player.mu}}
    </div>
    <div class="col-md-1">
        {{player.sigma}}
    </div>    
</div>
<div class="row">
    <div class="col-md-1">
        {{player.name}}
    </div>
    <div class="col-md-1">
        {{player.mu}}
    </div>
    <div class="col-md-1">
        {{player.sigma}}
    </div>    
</div>

{{yield}}