<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Total</th>
            <th>Singles</th>
            <th>Doubles</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>

        {{#each sortedPlayers as |player|}}
            {{#link-to 'players.show' player.id tagName="tr"}}
                <td>{{player.name}}</td>
                <td>{{player.total_wins_count}}-{{player.total_losses_count}}</td>
                <td>{{player.singles_wins_count}}-{{player.singles_losses_count}}</td>
                <td>{{player.doubles_wins_count}}-{{player.doubles_losses_count}}</td>
                <td>{{player.mu}}</td>
            {{/link-to}}
        {{/each}}
    </tbody>
</table>


{{yield}}